<?xml version="1.0" encoding="UTF-8" ?>  
  
<!DOCTYPE configuration PUBLIC   
    "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">  
  
<configuration>  
    <typeAliases>  
    	<!-- 系统参数 -->
   <!--      <typeAlias alias="Parameters" type="com.skyform.parameters.entity.Parameters" />   -->
    </typeAliases>  
      
    <mappers>  
    	<!-- 系统参数 -->
<!--         <mapper resource="com/skyform/parameters/entity/Parameters.xml" />   -->
    </mappers>  
</configuration>