@CHARSET "UTF-8";
*{
	padding:0;
	margin:0;
	border:0;
	font-weight:normal;
	font-family:'微软雅黑';
}
body{
	background:#fff;
}
a{
	color:#fff;
}
a:hover{
	color:#585858;
}
.nav>li:active{
	background:#fff;
}
/*主题色*/
.bg-black{
	background-color:#1e66ad;
	border-bottom: 5px solid #ffcc5a;
	color:#fff;
	font-weight:normal;
}
.bg-black a{
	color:#fff;
}
.bg-black .nav > li > a{
	color:#fff;
}
.font-bold{
	font-weight:normal;
}
.bg-black .nav > li > a{
	padding-top: 19px;
	padding-bottom: 0;
}
.bg-black .nav .open > a{
	color: #585858;
	background-color:none;
}
.bg-black .dropdown-menu li a{
	padding: 23px 4px;
}
.navbar-nav{
   height: 59px;
}
.navbar-right a{
   height:59px;
   line-height:59px;
}
.navbar-right li {
   height:59px;
   line-height:59px;
}
.nav-tabs > li > a{
   border: none;
   color:#5F5F5F;
}
.nav > li > a:hover{
  background-color:#F2F2F2; 
  color:#fff;
}
.nav > li > a:hover, .nav > li > a:focus{
  background-color:#F2F2F2; 
  color:#fff;
}
.nav-tabs > li:hover > a, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover{
  border-color:#F2F2F2;
  color:#54C0E4;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover{
  background-color:#F2F2F2; 
  border:none;
  color:#fff;
}
/* aside */

.app-aside-fixed .aside-wrap{
	background:#f9fafc;
	color:#585858;
}
.bg-black .nav > li{
    /*border-top:1px solid #DBDBDB;*/

}
.bg-black .nav > li.active > a{
	color:#585858;
    box-shadow:none;
    background: #fff;
   
}
.bg-black .nav > li:hover > a, .bg-black .nav > li:focus > a, .bg-black .nav > li.active > a{
	 box-shadow:none;
}
.app-header .nav > li > a:hover{
	color:#ffffff;
	background: #ffffff;
	background: rgba(255,255,255,.2);
	filter: Alpha(opacity=20);
	position: static;
}
.navi ul.nav li a{
	color:#848484;
	border-left: 3px solid transparent;
	font-weight: 600;
}
.bg-black .dk{
	background-color: #F6F7FB;
	color:#22ABD9;
	box-shadow:none;
}
/* content */
.app-content-body{
	background:#fff;
	padding-bottom: 17px;
}  
/*隐藏滚动条*/
::-webkit-scrollbar{
	/* width:0px; */
}
/*容器 */
.pane{
	padding-bottom:0;
}
.app-content{
   overflow: hidden;
}
.panel{
	background:none;
	border:none;
	padding: 17px;
}
.panel-default{
	height:auto;
}
/** form **/
.file-brief-show{
	color:#585858;
}
.file-brief .form-group label{
	padding-top: 5px!important;
}
.file-brief .form-group .no-null{
	color:#CE494E;
}
.file-brief .form-group .no-null-message{
	color:#CE494E;
}
.file-brief .form-group label{
	min-width:60px;
	text-align: right;
	float: left;
}
.file-brief .form-group select {
	border-color: #cfdadd;
	border-radius: 2px;
	padding: 2px 5px;
}
/* 查询按钮 */
.search-btn{
	background-color:#4d91dd;
	padding:6px 16px;
	color:#fff;
	font-size:13px;
	margin-right:0.5%;
	margin-top:0.8%;
}
/* 操作按钮 */
.operate-btn{
	background-color:#fff;
	padding: 0 6px;
	color:#000;
	border: 1px solid #5e5e5e;
}
.operate-btn.on{
	background: #4d91dd;
	border: 1px solid #4d91dd;
	color: #fff;
}
form{
	margin-bottom:5px;
}

/*清除浮动 */
.clear{
	clear:both;
}
/* 级别按钮 */
.btn_alarm_right{
    float: right;
}
.btn_alarm_right p{
    line-height: 25px;
    float: left;
    height: 30px;
    color: #585858;
    font-size: 12px;
}
.btn_alarm_right span{
	width:10px;
	height:10px;
	color:#fff;
	float:left;
	margin:7px 6px;
	border-radius:10px;
}
.red{		
	background:#f7a972;
}
.orange{	
	background:#ff5a4d;	
}
.blue{
	background:#fff18d;
}
.yellow{
	background:#9b9b9b;
}
.btn_alarm_right span{
	color:#fff;
}
.btn_alarm_right button{
	border:none;
	color:#fff;
	padding: 3px 5px;
	margin-right:3px;
	border-radius:3px;
}
.btn_alarm_right span:nth-child(1){
	padding-right:3%;
	font-size:12px;
}
.self{
	background:#337AB7;
}
.text-tips{
	margin-top:7px;
}
/* grid */
.ui-grid{
	border:none;
}
.ui-grid-pager-container{
	float:right;
}
.ui-grid-pager-count-container{
	float:left;
}
/*.ui-grid-contents-wrapper{*/
	/*height:330px;*/
	/*border:1px solid #d4d4d4;*/
/*}*/
.ui-grid-menu-button{
	background:none !important;
	border:none !important;
}
.ui-grid-row:nth-child(even) .ui-grid-cell,.ui-grid-row:nth-child(odd) .ui-grid-cell,.ui-grid-row-header-cell,.ui-grid-header-cell{
	border:0 !important;
	font-size: 12px !important;
}
.ui-grid-header-cell-label{
	font-weight: bold
}
/* 模态框 */
.xcConfirm .popBox .ttBox{
	background:#2964B4;
}
.xcConfirm .popBox{
	background-color: #2F3243;
	color:#fff;
}
.xcConfirm .popBox .btnArea{
	border-top:1px solid #2964B4;
	background-color: #2f3242;
	color:#fff;
}
.xcConfirm .popBox .sgBtn.ok{
    background-color: #2964B4;
    	
}
.xcConfirm .popBox .txtBox .bigIcon{
	background-position: 1px 1px !important; 
	background-image:url("../img/error.png");
	background-size: 100%;
}
.xcConfirm .popBox .ttBox .clsBtn{
	width: 24px;
    height: 24px;
    top: 9px;
    right: 23px;
	background:url("../img/cuowu.png") no-repeat;
}
.modal-header{
	background: #22ABD9;
	border-bottom:none;	
	
}
.modal-footer{
	border-top:1px solid #22ABD9;
	background:#fff;
	height: 50px;
    line-height:42px;
    padding: 1px 8px;
} 
.modal-dialog{
	margin: 5% auto;
}
.btn-fixed { 
    bottom: 12px;
}
/* 详情选项卡及 颜色变化 */
.detail{
	cursor:pointer;
	margin:0 1%;
	background-color: none;	
}
.grey{
	color:#9ca1b2;
}
.white{
	color:#000;
}
.mySelf li{
       float: left;
	    min-width: 8%;
	    height: 35px;
	    line-height: 35px;
	    text-align: center;
	    font-weight: 600;
	    margin: 0 13px;
}
.mySelf li a{
	font-weight: 600;
	color:#585858 !important;
}
.mySelf{
       min-width:8%;
       height:35px;
 	   line-height:35px;
 	   background:#F0F0EE;
 	   font-size:15px;
 	   float:left;
}
/*详情列表*/
.footer_list_content_list .delete_background_color:nth-child(even){
 	   background:#F3F3F3;
}
.footer_list_content_list .delete_background_color:nth-child(odd){
 	   background:#FFFFFF;
}
.footer_list_info{
 		height:35px;
 		line-height:35px;
 		border-top-right-radius: 5px;
 		text-indent:1%;
}
.footer_list_info span{
 		cursor: pointer;
}
.footer_list_collect {
	width: 52px;
	height: 18px;
	line-height: 18px;
	float: right;
	cursor: pointer;
	background: #a4a3a3;
	border: 1px solid #d4d4d4;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	font-size: 12px;
	margin-bottom: 2px;
}
.footer_list_content_box{
    width: 100%;
    margin-top: 5px;
    height: 30px;
    line-height: 30px;
    border-top: 1px solid #A5AAAD;
	background: #4d91dd;
	color: #fff;
	text-align: left;
}
.footer_list_content_list{
 		display:inline-block;
 		box-sizing:border-box;
 		-webkit-box-sizing:border-box;
 		-moz-box-sizing:border-box;
 		/*border: 1px solid #ccc;*/
 		float: left;
	    font-size: 12px;
	    width: 100%;
	    height: 180px;
        padding-left: 3px;
        padding-right: 3px;
}
.footer_list_content_spantext1,.footer_list_content_spantext2{
 		text-align:center;
 		display:inline-block;
 		box-sizing:border-box;
 		-webkit-box-sizing:border-box;
 		-moz-box-sizing:border-box;
		text-align: left;
		padding-left: 20px;
}
.footer_list_content_spantext1{
 		width:38%;
}
.footer_list_content_spantext2{
 		width:60%;
}
/*删除背景颜色*/
.delete_background_color{
 	background-color: #fff;
    margin-top: 0px;
    border-top: none;
}
/* 业务详情及首页表格 */


/*logo*/
.navbar-brand img{
	max-height: 50px;
	margin-top: 4px;
}
.navbar-header{
	height: 64px;

}
.avatar i.on{
	background-color: #ffcc5a;
}
/*left*/
.navi ul.nav li a {
	width: 200px;
}
.navi ul.nav li a .font-bold{
	width: 90px;
	color:#ffffff;
}

.navi-wrap{
	background: #585858;
}
.navi ul.nav li{
	background: url("../img/navi-border.png") left bottom no-repeat;
}

.navi ul.nav li ul li{
	background: #6b6b6b;
}
.navi-wrap .nav > li:hover > a,
.navi-wrap .nav > li:focus > a,
.navi-wrap .nav > li.active > a {
	background:#6b6b6b url("../img/navi-border.png") left bottom no-repeat;
}
.navi-wrap .nav > li ul li:hover > a,
.navi-wrap .nav > li ul li:focus > a,
.navi-wrap .nav > li ul li.active > a {
	background:#807f7f;
	color: #fff;
}
.navi ul.nav li a {
	font-size: 13px;
	height: 42px;
	line-height: 42px;
	padding: 0;
	color: #ffffff;
	padding-left: 22px;
	padding-right: 22px;
}
.navi ul.nav li a i{
	margin: 0 5px 0 0;
	width: 18px;
	color: #ffffff;
}
.bg-black .nav > li > a:active,
.bg-black .nav > li > a:focus {
	box-shadow: none;
	background: #6b6b6b url(../img/nav-active.png) center bottom no-repeat;
}
.navi ul.nav li.nav-first_ > a{
	background: url("../img/navi-border.png") left bottom no-repeat, url("../img/navi-border.png") left top no-repeat;
}
.navi ul.nav li.nav-first_:hover a{
	background-color: #6b6b6b;
}
.nav.nav-sub.dk{background: #6b6b6b;}
/*index.html*/
.index_title{
	width: 100%;
	height: 35px;
	background: #0060ce;
	background: rgba(0,96,206,.7);
	filter: Alpha(opacity=70);
	position: static;
}
.index_title a:hover{
	color: #fff;
}
.index-myDiv{
	width: 100%;
	clear: both;
	min-height: 294px;
	border: 0;
}
.pane{
	padding: 0;
}
.pane .col-sm-5{
	margin: 0px 0 17px 17px;
	padding: 0;
}
/*tabel*/
.index-myDiv .table > tbody > tr > td, .table > tfoot > tr > td, .index-myDiv th{
	border: 0;
	height: 42px;
	font-size: 12px;
	line-height: 42px!important;
}
.table > tbody > tr > td, .table > tfoot > tr > td{
	padding: 0 15px;
}
.index-myDiv td{
	font-size: 12px;
}
.index-myDiv .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
	background-color: #f8f9f9;
	padding: 0px 15px;
}
.index-myDiv .table-striped > tbody > tr:nth-of-type(odd){
	background:#f8f9f9 ;
}
.index-myDiv .table-striped > tbody > tr:nth-of-type(even){
	background: #ffffff;
}
.index-myDiv .table> tbody > tr:hover td,
.index-myDiv .table> tbody > tr:active{
	background: #6b6b6b;
	background: rgba(107,107,107,.3);
	filter: Alpha(opacity=30);
	position: static;
}
.ui-grid-render-container{
	text-align: left;
}
/*end*/
.border-container .nav-tabs li{
	width: 69px;
	height: 18px;
	margin:10px 36px 10px 0;
	border-color:#6b6b6b ;
	border: 1px solid rgba(107,107,107,.3);
	color:#fff;
}
.border-container .nav-tabs li a{
	font-size: 13px;
	padding: 0px;
	text-align: center;
	margin-right: 0;
}
.border-container .nav-tabs li.active > a{
	background: #fae9c8;
	background: rgba(250,233,200,.3);
	filter: Alpha(opacity=30);
	position: static;
}
.border-container .nav-tabs{
	background: #fff;
	border: 0;
}
.sky > div{
	background: #6b6b6b;
	background: rgba(107,107,107,.3);
	filter: Alpha(opacity=30);
	position: static;
	padding: 0 40px;
}
/*input */
.search-box{
	margin: 0px;
	border: 1px solid #ccc;
	padding: 10px 0;
}
input:focus {
	border: 1px solid #ccc;
	outline: none;
}
label.lable-name {
	width: 77px;
	display: inline-block !important;
	text-align: right;
	height: 27px;
	line-height: 27px;
}
.form-group.common-group {
	width: 24% !important;
	display: inline-block !important;
	margin-bottom: 5px !important;
}
.__btn__{
	padding-left: 6px;
	background: #4d91dd;
	padding: 3px 6px;
	font-size: 12px;
}
/*表格*/
.ui-grid-top-panel{
	background: #4c90dc;
	border: 0;
	height: 30px;
	line-height: 30px;
	color: #fff;
}
.ui-grid-canvas{
	padding-top: 0;
}
.ui-grid-row .ui-grid-cell.ui-grid-row-header-cell:nth-child(odd){
	background: #f8f9f9;
	font-size: 12px;
	color: #000;
}
.ui-grid-row .ui-grid-cell.ui-grid-row-header-cell:nth-child(even){
	background: #7e318e;
	font-size: 12px;
	color: #000;
}
.ui-grid-row.ui-grid-row-selected>[ui-grid-row]>.ui-grid-cell{
	background:#d2d2d2 ;
	font-size: 12px;
	color: #000;

}
.ui-grid-row:nth-child(even) .ui-grid-cell, .ui-grid-row:nth-child(odd) .ui-grid-cell, .ui-grid-row-header-cell, .ui-grid-header-cell{
	line-height: 24px;
	color: #000;
}
.ui-grid-header-cell .sortable{
	color: #fff;
}
.ng-scope .ui-grid-top-panel .ui-grid-cell-contents{
	color: #fff;
}
abbr[title]{
	border-bottom: 0;
}
.ui-grid-pager-control button{
	background: #fff;
}
.ui-grid-pager-max-pages-number.ng-binding{
	display: inline-block;
	height: 20px;
}
.ui-grid-pager-row-count-label.ng-binding.ng-scope{
	display: inline-block;
	height: 20px;
	line-height: 27px;
}
.add_border_bottom span{
	color: #000000;
}
.navi ul.nav li a .font-bold{
	float: none;
}
/*modal-content*/
.modal-content, .modal-content{
	border-radius: 0;
}
.modal-header{
	padding: 10px 15px;
	background:#5491de;
	border-radius: 0;
}
.modal-header .close{
	font-size: 15px;
}
.modal-footer{
	border: 0;
	padding-right: 50px;;
}
.modal-footer .btn{
	padding: 0px 16px;
	background:#5490dd;
	color: #ffffff;
	font-size: 12px;
}

/*选择客户*/
.model-body-second{
	padding: 0 20px;
	margin: 0 0 20px 0;
}
.ui-dialog-title{
	padding: 10px 15px;
	background:#5491de;
	border-radius: 0;
}
#element{
	background: #fff;
}
.btn-new{
	padding: 3px 6px;
	background:#5490dd;
	color: #ffffff;
	font-size: 12px;
	margin-left: 10px;
}
.pad{
	padding: 0 20px 0 0;
}
.ngdialog-close{
	display: none;
}
.ui-grid-pager-panel abbr {
    float: left;
}
/** style **/
label.tip, span.tip{
	vertical-align: middle;
	float: left;
	color: rgba(195, 0, 17, 0.71);
}
.form-horizontal>.form-group>.tip{
	padding-top: 7px;
	margin-bottom: 0;
	float: left;
	color: rgba(195, 0, 17, 0.71);
}
.error{
	border-color: #c9302c;
}
.workorder .form-group{
	margin: 5px auto;
}
.btn-disabled-true {
	cursor: not-allowed;
	background-color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: 0.65;
	color: grey;
}

/**  dialog  ***/
.ngdialog-content{
	font-size: 14px!important;
}
.wocloud-dialog-header span{
	font-size: 16px;
}
.wocloud-dialog-footer{
	text-align: right;
}
.wocloud-dialog-footer .btn{
	color: #fff;
	background: #4d91dd;
	border: 1px solid #4d91dd;
	padding: 3px 10px;
	font-size: 12px;
}
/** form **/
.form-control{
	height:28px;
	display:inline;
	border:1px solid #ccc;
	color:#585858;
}
.control-label{
	padding: 2px 5px;
}

/**  page **/
.content-query{
	border: 1px solid #ccc;
	margin: 10px 0;
	padding:5px 0;
}
.content-query .control-label{
	font-size: 13px;
}
.content-query .form-control{
	height: 24px;
}
.content-query button{
	background: #4d91dd;
	border: 1px solid #4d91dd;
	color: #fff;
	padding: 2px 10px;
	font-size: 12px;
}
.content-list{
	border: 1px solid #ccc;
	margin: 17px 0;
	padding:10px 17px;
}
.content-list .row{
	padding:10px 17px;
	font-size: 13px;
}
.content-info{
	border: 1px solid #ccc;
	margin: 17px 0;
	padding:10px 17px;
}

