<div ng-controller="WorkOrderViewCtrl" class="content-container">
	<tabset class="tab-container">
		<tab ng-repeat="tab in dealTabs track by tab.index" heading="{{tab.title}}" active="tab.active" ng-click="tabChange(tab)">
			<div class="pane">
				<!--- workOrders -->
				<div class="panel panel-default">
					<div class="row no-padder m-n">
						<div class="row no-padder m-n">
							<sreach-button>
								<div class="col-sm-12 m-t-xs m-b-xs no-padder " >
									<my-work-order-sreach style="height: 100%;" search-params="searchParams" search="search" flag="yel" propertiesevent="propertiesevent"  allproperties="allproperties" properties="properties" pr-click="sreach()" pr-check="check({$event:$event,items:items})"></my-work-order-sreach>
								</div>
							</sreach-button>
						</div>
						<div class="content-list">
							<div class="row">
								<div class="col-sm-6 m-t-xs m-b-xs no-padder " >
									<button class="operate-btn on btn-disabled-{{disposeflag}}" ng-disabled="disposeflag" ng-click="disposeItem()">
										<i class="fa fa-plus"></i>
										<span>处理工单</span>
									</button>
									<button class="operate-btn on btn-disabled-{{singflag}}" ng-disabled="singflag" ng-click="signItem()">
										<i class="fa fa-edit"></i>
										<span>签收工单</span>
									</button>
								</div>
							</div>
							<div ui-grid="myGridOptions" ui-grid-edit
								 ui-grid-pagination ui-grid-selection ui-grid-exporter ui-grid-resize-columns ui-grid-auto-resize>
							</div>
						</div>
					</div>
				</div>
			</div>
		</tab>
	</tabset>
</div>